<div class='magic-zoom'>
    <input data-dojo-attach-point='textBox' 
        data-dojo-type='dijit.form.ValidationTextBox' 
        class='text-box shadow'  
        placeHolder='${placeHolder}' 
        promptMessage='${promptMessage}' 
        tooltipPosition='${tooltipPosition}'></input>
    <span data-dojo-attach-point='searchImg' class='search-img'></span>
    <table data-dojo-attach-point='matchesTable' class='matches-table shadow' 
        cellpadding=0 cellspacing=0>
    </table>
</div>