<div class='zoomtocoords'>
        Coordinates:<br>
        <select data-dojo-attach-point='typeSelect' data-dojo-type='dijit.form.Select'>
            <option value='dd'>Decimal Degrees</option>
            <option value="dm">Degrees, Minutes</option>
            <option value="dms">Degrees, Minutes, Seconds</option>
            <option value="utm">Univeral Transverse Mercator</option>
        </select>
        <div data-dojo-attach-point='stackContainer' data-dojo-type='dijit.layout.StackContainer'>
            <div data-dojo-type='dijit.layout.ContentPane' data-dojo-attach-point='dd'>
                <table>
                    <tr>
                        <td class='label-cell'>
                            Longitude (W)
                        </td>
                        <td class='text-box-cell'>
                            <input data-dojo-attach-point='w_deg_dd' type="text" data-dojo-type="dijit.form.NumberTextBox"
                                constraints="{min:-180,max:180,pattern:'#.########'}" invalidMessage='Invalid Longitude'
                                class='text-box full-width' placeHolder='000.000000'>
                        </td>
                    </tr>
                    <tr>
                        <td class='label-cell'>
                            Latitude (N)
                        </td>
                        <td class='text-box-cell'>
                            <input data-dojo-attach-point='n_deg_dd' type='text' data-dojo-type='dijit.form.NumberTextBox'
                                constraints="{min:-90,max:90,pattern:'#.########'}" invalidMessage='Invalid Latitude'
                                class='text-box full-width' placeHolder='00.000000'>
                        </td>
                    </tr>
                </table>
            </div>
            <div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point='dm'>
                <table>
                    <tr>
                        <td class="label-cell">
                            Longitude (W)
                        </td>
                        <td class='text-box-cell'>
                            <table class="inner-table">
                                <tr>
                                    <td>
                                        <input data-dojo-attach-point="w_deg_dm" type="text" data-dojo-type="dijit.form.NumberTextBox"
                                            constraints="{min: -180, max: 180}" invalidMessage='Invalid Degree' class='text-box small-box'
                                            placeHolder='00'>
                                    </td>
                                    <td>
                                        &#176;&nbsp;&nbsp;
                                    </td>
                                    <td>
                                        <input data-dojo-attach-point="w_min_dm" type="text" data-dojo-type="dijit.form.NumberTextBox"
                                            constraints="{min: 0, max: 60}" invalidMessage='Invalid Decimal Minute' class='text-box small-box'
                                            placeHolder='00.000'>
                                    </td>
                                    <td>
                                        &#39;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-cell">
                            Latitude (N)
                        </td>
                        <td class='text-box-cell'>
                            <table class="inner-table">
                                <tr>
                                    <td>
                                        <input data-dojo-attach-point="n_deg_dm" type="text" data-dojo-type="dijit.form.NumberTextBox"
                                            constraints="{min: -90, max: 90}" invalidMessage='Invalid Degree' class='text-box small-box'
                                            placeHolder='00'>
                                    </td>
                                    <td>
                                        &#176;&nbsp;&nbsp;
                                    </td>
                                    <td>
                                        <input data-dojo-attach-point="n_min_dm" type="text" data-dojo-type="dijit.form.NumberTextBox"
                                            constraints="{min: 0, max: 60}" invalidMessage='Invalid Decimal Minute' class='text-box small-box'
                                            placeHolder='00.000'>
                                    </td>
                                    <td>
                                        &#39;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point='dms'>
                <table>
                    <tr>
                        <td class="label-cell">
                            Longitude (W)
                        </td>
                        <td class='text-box-cell'>
                            <table class="inner-table">
                                <tr>
                                    <td>
                                        <input data-dojo-attach-point="w_deg_dms" type="text" data-dojo-type="dijit.form.NumberTextBox"
                                            constraints="{min: -180, max: 180}" invalidMessage='Invalid Degree' class='text-box smaller-box'
                                            placeHolder='00'>
                                    </td>
                                    <td>
                                        &#176;&nbsp;&nbsp;
                                    </td>
                                    <td>
                                        <input data-dojo-attach-point="w_min_dms" type="text" data-dojo-type="dijit.form.NumberTextBox"
                                            constraints="{min: 0, max: 60}" invalidMessage='Invalid Minute' class='text-box smaller-box'
                                            placeHolder='00'>
                                    </td>
                                    <td>
                                        &#39;&nbsp;&nbsp;
                                    </td>
                                    <td>
                                        <input data-dojo-attach-point="w_sec_dms" type="text" data-dojo-type="dijit.form.NumberTextBox"
                                            constraints="{min: 0, max: 60}" invalidMessage='Invalid Second' class='text-box smaller-box'
                                            placeHolder='00'>
                                    </td>
                                    <td>
                                        &#34;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-cell">
                            Latitude (N)
                        </td>
                        <td class='text-box-cell'>
                            <table class="inner-table">
                                <tr>
                                    <td>
                                        <input data-dojo-attach-point="n_deg_dms" type="text" data-dojo-type="dijit.form.NumberTextBox"
                                            constraints="{min: -90, max: 90}" invalidMessage='Invalid Degree' class='text-box smaller-box'
                                            placeHolder='00'>
                                    </td>
                                    <td>
                                        &#176;&nbsp;&nbsp;
                                    </td>
                                    <td>
                                        <input data-dojo-attach-point="n_min_dms" type="text" data-dojo-type="dijit.form.NumberTextBox"
                                            constraints="{min: 0, max: 60}" invalidMessage='Invalid Minute' class='text-box smaller-box'
                                            placeHolder='00'>
                                    </td>
                                    <td>
                                        &#39;&nbsp;&nbsp;
                                    </td>
                                    <td>
                                        <input data-dojo-attach-point="n_sec_dms" type="text" data-dojo-type="dijit.form.NumberTextBox"
                                            constraints="{min: 0, max: 60}" invalidMessage='Invalid Second' class='text-box smaller-box'
                                            placeHolder='00'>
                                    </td>
                                    <td>
                                        &#34;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div data-dojo-type='dijit.layout.ContentPane' data-dojo-attach-point='utm'>
                <table>
                    <tr>
                        <td class='label-cell'>
                            X
                        </td>
                        <td class='text-box-cell'>
                            <input data-dojo-attach-point='x_utm' type="text" data-dojo-type="dijit.form.NumberTextBox" class='text-box full-width'>
                        </td>
                    </tr>
                    <tr>
                        <td class='label-cell'>
                            Y
                        </td>
                        <td class='text-box-cell'>
                            <input data-dojo-attach-point='y_utm' type='text' data-dojo-type='dijit.form.NumberTextBox' class='text-box full-width'>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <button data-dojo-attach-point='zoomButton' data-dojo-type='dijit.form.Button' type="submit" class='zoom-button'>
            <div class="zoom-button-inner">
                Zoom</div>
        </button>
</div>
