@import '../../dijit/themes/claro/claro.css';
@import '../../esri/css/esri.css';
@import '../../agrc/resources/map/BaseMap.css';
@import '../../agrc/resources/locate/ZoomToCoords.css';
@import '../../ijit/themes/standard/layout/SideBarToggler.css';
@import '../../ijit/themes/standard/layout/PaneStack.css';
@import 'ZoomToCoords.css';
@import 'Identify.css';
@import 'IdentifyResult.css';
@import 'Print.css';
@import '../../layer-selector/resources/LayerSelector.css';
@import '../../sherlock/resources/Sherlock.css';
@import '../../bootstrap/dist/css/bootstrap.css';

body, html, .app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #444;
}
.app .main-container {
    width: 100%;
    height: 100%;
}
#loading-overlay {
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EDEDED;
    z-index: 800;
    vertical-align: middle;
}

/* TITLE PANE */
.app .title-pane {
    border: none;
    overflow: hidden;
}
.app h1 {
    margin: 5px 0 0 0;
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: normal;
}
.app .version {
    font-size: 16px;
    text-decoration: none;
    color: gray;
    letter-spacing: 0;
}
.app .version:hover {
    text-decoration: underline !important;
}
.app .title-pane>img {
    position: absolute;
    top: 0;
    right: 0;
}

/* SIDE BAR */
.app .side-bar {
    width: 350px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.help-txt {
    margin: 8px;
}
.clearer {
    clear: both;
}
.app .side-bar h3 {
    margin-bottom: 3px;
}
.app .first-header {
    margin-top: 0px;
}
.sherlock {
    position: relative;
    z-index: auto;
    width: 320px;
}
.sherlock .input-group,
.sherlock .matches-table {
    width: 310px;
}
.pane-stack {
    margin: 0px -1px 0 -1px;
}
.dijitTitlePaneContentInner p {
    margin: 8px 0 0 0;
}
.dijitTitlePaneContentInner > p:first-of-type {
    margin-top: 0;
}
#identify-pane .dijitTitlePaneContentInner {
    padding: 0;
}

/* CENTER (MAP) */
.app .center-container {
    padding: 0;
}
.app .map-div {
    width: 100%;
    height: 100% !important;
}

/* GENERAL STUFF */
/* remove orange outline in chrome */
*:focus {
    outline: none;
}
