.identify-result td {
    border-top: 1px solid rgb(221, 221, 221);
    vertical-align: text-top;
}
.identify-result table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1em;
}
.identify-result table tr > td:first-child {
    font-weight: bold;
    min-width: 105px;
}
.identify-result table tr > td:last-child {
    padding-left: 8px;
}
.identify-result table td {
    padding: 3px;
}
.identify-result .identify-title {
    font-weight: bold;
    font-size: 1.3em;
    padding: 3px;
}
.identify-result .zoom-to-container a {
    font-size: 0.9em;
}
.identify-result .zoom-to-container {
    padding-left: 3px;
    margin-top: -10px;
    margin-bottom: 3px;
}
.identify-result:hover {
    background-color: #F5F5F5;
}
.identify-result .hidden {
    display: none;
}
