.print-widget {
	margin: 0 0 5px 5px;
}
.print-widget .loader {
	background-image: url('images/ajax-loader2.gif');
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}
.print-widget .message {
	vertical-align: middle;
}
.print-widget .hidden {
	display: none;
}