.esriPopup.myTheme .titleButton {
    background-image: url(../images/popup.png);
}
.esriPopup.myTheme .titleButton.prev {
    background-position: 0 -284px;
    width: 13px;
}
.esriPopup.myTheme .titleButton.next {
    background-position: 0 -345px;
    width: 13px;
}
.esriPopup.myTheme .title {
    width: 310px;
}
