.zoomtocoords .label-cell {
    font-size: smaller;
}

/* bootstrap collision fixes */
.zoomtocoords table {
    border-collapse: separate;
    border-spacing: 1px;
}
.zoomtocoords .text-box {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}